.account-box {
  .nf-account-button {
    border: 1px solid #00d1b2;
    color: #00d1b2;
    padding: 0.4rem 0.6rem;

    &:hover {
      color: #00d1b2;
      background-color: hsl(0, 0%, 96%);
    }

    &:focus {
      box-shadow: none;
    }
  }

  .nf-profile {
    border-radius: 50%;
    overflow: hidden;
    margin-right: 0.5rem;

    .nf-profile-image {
      object-fit: cover;
      display: block;
    }
  }

  .nf-menu-icon {
    transform: scale(0.7);
  }

  .nf-add-icon {
    transform: scale(1.2);
  }

  .nf-menu-divider {
    background-color: hsl(0, 0%, 86%);
    margin: 0.3rem 1rem;
  }

  .nf-account-filler {
    width: 200px;
  }
}

.createNfModal .mat-dialog-container {
  padding: 0;
}
