<div class="nf-form-container box" [formGroup]="forgotPwdForm">
  <div class="content pt-4">
    <h4 class="has-text-primary has-text-weight-normal mb-5 mt-1">Reset your password </h4>
    <p>Please enter your email address, you will recieve a mail allowing you to reset your password.</p>
    <div class="field mb-6 mt-5">
      <div class="control">
        <input formControlName="email" class="input" type="email" placeholder="type your email" />
      </div>
    </div>
    <p class="">{{true? 'Please type a valid email' : ''}}</p>
    <div class="buttons">
      <button (click)="cancel()" class="button is-danger">Cancel</button>
      <button (click)="sendResetEmail()" class="button is-primary">Reset password</button>
    </div>
  </div>
</div>
