<form class="nf-form-container box" [formGroup]="forgotPwdForm">
  <div class="content">
    <h4 class="has-text-primary has-text-weight-normal mb-5 mt-1">Reset your password</h4>
    <p>
      Please enter your email address, you will recieve a mail allowing you to reset your password.
    </p>
    <div class="field mb-6 mt-5">
      <div class="control">
        <input formControlName="email" class="input" type="email" placeholder="type your email" />
        <p class="help is-danger">{{isInvalidEmail()? 'Please type a valid email' : ''}}</p>
      </div>
    </div>
    <div class="buttons is-right">
      <button type="button" (click)="cancel()" class="button is-danger is-light">Cancel</button>
      <button type="submit" (click)="sendResetEmail()" class="button is-primary is-light">
        Reset password
      </button>
    </div>
  </div>
</form>
