@import '_global-styles';

/* You can add global styles to this file, and also import other style files */
html {
  height: 100vh;
  background-color: $nf-background-color;

  &.sign-layout-background {
    background: url('/assets/bg-2.svg') no-repeat fixed;
    background-size: cover;
  }
}

body {
  height: 100%;
}
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } added by material angular
// mat-typography class was also added to body but I removed it

input:invalid {
  @extend .is-danger;
}

input.ng-dirty.ng-invalid {
  @extend .is-danger;
}

input.ng-dirty.ng-valid {
  @extend .is-success;
}

textarea.ng-dirty.ng-invalid {
  @extend .is-danger;
}

select.ng-dirty.ng-invalid {
  border-color: $danger;
}

select.ng-dirty.ng-valid {
  border-color: $primary;
}

// ovverride ng-select classes
/* Border Color */
.ng-select.ng-invalid.ng-touched .ng-select-container {
  border-color: $nf-danger-color;
}
/* Arrow Color */
.ng-select.ng-invalid.ng-touched .ng-arrow-wrapper .ng-arrow {
  border-color: $nf-danger-color transparent transparent;
}
/* Placeholder Color */
.ng-select.ng-invalid.ng-touched .ng-select-container .ng-placeholder {
  color: $nf-danger-color;
}

.nf-sidenav {
  top: 57px;
  align-self: flex-start;
  position: sticky;

  @media (min-width: 705px) {
    display: block;
  }
}

/* Using plain CSS */
@media (max-width: 768px) {
  .nf-sidenav {
    margin-top: 6px;
    margin-left: 0;
    width: 100%;
  }

  .nf-side-nav {
    margin: 0;
    width: 100%;
  }

  .nf-side-nav-actions {
    display: none;
  }

  .nf-side-nav-actions:first-child {
    width: 100% !important;
    display: flex;
  }
}

.cdk-global-overlay-wrapper {
  pointer-events: auto;
  // display: block;
  position: relative;
  overflow: auto;
  text-align: center;
}

.cdk-global-overlay-wrapper::before {
  content: '';
  display: inline-block;
  height: 100%;
  white-space: nowrap;
}

.cdk-overlay-pane {
  display: inline-block;
  position: relative;
  text-align: left;
  white-space: normal;
}
