@import "_global-styles";

/* You can add global styles to this file, and also import other style files */
html {
  height: 100vh;
  background-color: $nf-background-color;

  &.sign-layout-background {
    background: url("/assets/bg-2.svg") no-repeat fixed;
    background-size: cover;
  }
}

body {
  height: 100%;
}
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } added by material angular
// mat-typography class was also added to body but I removed it

input:invalid {
  @extend .is-danger;
}

input.ng-dirty.ng-invalid {
  @extend .is-danger;
}

input.ng-dirty.ng-valid {
  @extend .is-success;
}

textarea.ng-dirty.ng-invalid {
  @extend .is-danger;
}

select.ng-dirty.ng-invalid {
  border-color: $danger;
}

select.ng-dirty.ng-valid {
  border-color: $primary;
}
