<div [formGroup]="signForm" class="box p-4 nf-form-container is-family-secondary">
  <app-basic-sign-form [parentForm]="signForm"></app-basic-sign-form>
  <div class="nf-separator"></div>
  <div class="field pb-2">
    <label class="label">Name</label>
    <div class="control has-icons-right">
      <input class="input" formControlName="name" />
    </div>
  </div>
  <div class="field pb-2">
    <label class="label">Birthday</label>
    <div class="field-body">
      <div class="field mr-2">
        <div class="control is-expanded">
          <div class="select is-fullwidth">
            <select formControlName="birthMonth">
              <option disabled selected>Month</option>
              <option>September</option>
              <option>April</option>
            </select>
          </div>
        </div>
      </div>
      <div class="field mr-2">
        <div class="control is-expanded">
          <div class="select is-fullwidth">
            <select formControlName="birthDay">
              <option disabled selected>Day</option>
              <option>1</option>
              <option>2</option>
            </select>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="control is-expanded">
          <div class="select is-fullwidth">
            <select formControlName="birthYear">
              <option disabled selected>Year</option>
              <option>1996</option>
              <option>2004</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="field">
    <label class="label">Gender</label>
    <div class="select is-fullwidth">
      <select formControlName="gender">
        <option value="" disabled selected></option>
        <option>Male</option>
        <option>Female</option>
        <option>Other</option>
        <option>Rather not say</option>
      </select>
    </div>
  </div>
  <div class="control pt-4">
    <button (click)="createAccount()" class="button is-link is-rounded is-fullwidth">Join NodeFeed</button>
  </div>
  <div class="pt-3 has-text-centered">
    <span>Already on Nodefeed? <a (click)="emitSignIn()">Sign in</a></span>
  </div>
</div>
