<div [formGroup]="signForm" class="box p-4 nf-form-container is-family-secondary">
  <app-basic-sign-form [parentForm]="signForm"></app-basic-sign-form>
  <div class="nf-separator"></div>
  <div class="field pb-2">
    <label class="label">Name</label>
    <div class="control has-icons-right">
      <input class="input" formControlName="name" />
    </div>
  </div>
  <app-details-sign-form (updatedDetails)="handleDetails($event)" (validDOB)="isDOBvalid = $event"></app-details-sign-form>
  <div class="control pt-4">
    <button (click)="createAccount()" class="button is-link is-rounded is-fullwidth">Join NodeFeed</button>
  </div>
  <div class="pt-3 has-text-centered">
    <span>Already on Nodefeed? <a (click)="emitSignIn()">Sign in</a></span>
  </div>
</div>
