.nf-form-container {
  min-width: 390px;

  .nf-input-password {
    pointer-events: auto !important;
  }

  .nf-separator {
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 25px 10px;
    text-align: center;
  }

  .nf-google-button {
    border: 1px solid #0a66c2;
    color: #0a66c2;

    &:hover {
      border: 1px solid #0a66c2;
      color: #0a66c2;
      background-color: #ecf4fe;
      border-width: 2px;
    }

    .nf-google-icon {
      background-image: url("/assets/google_icon.svg");
      display: block;
      width: 32px;
      height: 32px;
      background-size: 32px 32px;
      background-repeat: no-repeat;
    }
  }
}
