.nf-form-container {
  position: relative; //needed for progress bar position
  width: 600px;

  @media (max-width: 750px) {
    width: 400px;
  }
}

.nf-separator {
  align-items: center;
  border-bottom: 1px solid #dadde1;
  display: flex;
  margin: 40px 10px 20px 10px;
  text-align: center;
}

.nf-tooltip-icon {
  transform: translate(2px, 2px);
  font-size: 16px;
  color: grey;
}

/** overriding state validation colors **/
input {
  border-color: #dbdbdb !important;
  box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%) !important;
}
