<div class="nf-form-container box">
  <div class="progress-bar" [style.--progress-step]="progressStep"></div>
  <div class="content pt-4">
    <h4 class="has-text-primary has-text-weight-normal mb-5 mt-1">Create a Nodefeed</h4>
    <div class="nf-separator"></div>
    <div class="control">
      <button class="button is-rounded is-link">
        <span>Create</span>
      </button>
    </div>
    <div class="pt-3 has-text-centered">
      <small>Not you? <a>Cancel here</a></small>
    </div>
  </div>
</div>
