@import "variables";
@import "helpers";

/* global classes appliable everywhere in the project */
.nf-g-card {
  background-color: white;
  border-radius: 8px !important;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%) !important;
}

.nf-g-font-size {
  font-size: $nf-standard-font-size !important;
}

/* Import only once at the end, to override bulma variables */
@import "node_modules/bulma/bulma.sass";
