@import "variables";
@import "helpers";

/* Import only once at the end, to override bulma variables */
@import "node_modules/bulma/bulma.sass";

/* global classes appliable everywhere in the project */
.nf-g-card {
  background-color: white;
  border-radius: 8px !important;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%) !important;
}

.nf-g-font-size {
  font-size: $nf-standard-font-size !important;
}

.nf-success-snackbar {
  background-color: $success;
}

.nf-tooltip {
  font-size: 0.8rem;
  background-color: $link;
}

.nf-progress-bar {
  --progress-step: 0%;

  height: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px 6px 50% 50%;
  width: 100%;
  background-color: #ccd5f887;
  display: flex;
  align-items: center;
  overflow: hidden; // to make inner child obey parent borders

  &::before {
    content: "";
    display: block;
    height: 1rem;
    width: var(--progress-step, 100);
    overflow: hidden;
    box-shadow: inset -2px 5px 10px -4px #bcbcbc7a;
    background: linear-gradient(90deg, #1ce0c3 40%, #02859c);
    animation: progress-animation 3s linear infinite;
    background-size: 200% 200%;
    transition: width 1s;

    @keyframes progress-animation {
      0% {
        background-position: 0%;
      }

      50% {
        background-position: 90%;
      }

      100% {
        background-position: 0%;
      }
    }
  }
}