@import "variables";

/* list of useful helper classes */

.nf-h-flexer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.nf-h-fullheight {
  height: 100%;
}

.nf-h-standard-container {
  max-width: $nf-g-standard-max-width;
  min-width: $nf-g-standard-min-width;
}
