@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Source+Sans+Pro&display=swap');

/* CSS Bulma variable overriding */
$desktop: 700px;
$widescreen: 1030px;
$label-weight: 300;
$family-sans-serif: 'Noto Sans', arial, helvetica, sans-serif;
$family-secondary: 'Source Sans Pro', arial, helvetica, sans-serif;

//$navbar-item-img-max-height: 2rem;

/* project variables */
$nf-background-color: #dae0e6;
$nf-standard-font-size: 14px;
$nf-g-standard-max-width: 600px;
$nf-g-standard-min-width: 300px;

$nf-primary-color: #00d1b2;

$nf-primary-grey: #dcdcdc;

$nf-danger-color: #f14668;
