// oth properties
$text-size: max(0.85em,0.9vw);
$btn-width-max : max(6vw, 130px);
$btn-height-max : max(calc(6vw / 2.5), 40px);
:host ::ng-deep .btn-secondary {
  background-color: #01CAA6;
  color: white;
  border-width: 0px;
  width : $btn-width-max;
  height: $btn-height-max;
  font-weight : bold;
  border-radius:130px;
  font-size: $text-size;
  cursor: pointer;
  user-select: none;
}

:host ::ng-deep .text-secondary {
  color: #00D1B2;
}
