<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#" class="nf-logo-name"> </a>
    <a
      role="button"
      (click)="displayBurger = !displayBurger"
      [class]="{'is-active': displayBurger}"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" [class]="{'is-active': displayBurger}">
    <div class="navbar-start">
      <a class="navbar-item">Explore</a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">More</a>
        <div class="navbar-dropdown">
          <a class="navbar-item"> About us</a>
          <a class="navbar-item"> Get recruited</a>
          <hr class="navbar-divider" />
          <a class="navbar-item"> Report an issue </a>
        </div>
      </div>
    </div>

    <div class="is-flex is-align-items-center is-justify-content-center is-flex-grow-1">
      <div class="control has-icons-left nf-search-bar">
        <input class="input rounded" type="text" placeholder="Search" />
        <span class="icon is-small is-left">
          <i class="fas fa-search"></i>
        </span>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item pb-0 pt-0">
        <app-account-menu>
          <div class="buttons">
            <a class="button is-primary" routerLink="sign/signup"><strong>Sign up</strong></a>
            <a class="button is-light" routerLink="sign/signin">Log in</a>
          </div>
        </app-account-menu>
      </div>
    </div>
  </div>
</nav>
