

<div id="container">

  <div id="wrapper">

    <button id="beta-access" class="btn-secondary">Beta Access</button>

    <div id="brand">
      <img src="./assets/logo-nf-2.svg" alt="NodeFeed"/>
      <h2 id="subtitle">Let's find your <strong>Node</strong>, know more about products,<br/>
      buy smarter, greener, cheaper, with better quality.</h2>
    </div>

    <div id="newsletter">
      <p>Stay informed about <strong>Nodefeed</strong> project's advancement,
        give us your email for subscribe to our newsletter !</p>
      <input type="text"/>
      <button id="sub-newsletter" class="btn-secondary">Subscribe !</button>
    </div>

  </div>

</div>

