.nf-profile {
  border-radius: 50%;
  overflow: hidden;
  height: 116px;
  width: 116px;
  margin-right: 2rem;
  box-shadow: 0 16px 30px -15px rgba(0, 0, 0, 0.5);
  background-color: #44bd94e0;
  text-align: center;

  .nf-profile-image {
    object-fit: cover;
  }

  .nf-fallback-initial {
    color: white;
    font-size: 4rem;
    line-height: 7rem;
  }
}

.nf-separator {
  align-items: center;
  border-bottom: 1px solid #dadde1;
  display: flex;
  margin: 16px 10px;
  text-align: center;
}

.nf-photo-uploader {
  max-width: 280px;
  height: 132px;
  font-size: 0.9rem;

  .nf-uploader-button {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
}

.nf-cropper-box {
  width: 550px;
  height: 400px;
}
