<h4 class="has-text-primary is-size-5 mb-5 mt-1">Almost done !</h4>

<div class="is-flex is-justify-content-center mt-5">
  <figure class="nf-profile is-flex-shrink-0">
    <img class="nf-profile-image" src="assets/pro-pic.png" />
  </figure>
  <div class="nf-photo-uploader">
    <p>Last step, add a picture representing the product (Recommanded size : 512x512)</p>
    <button class="button is-link is-fullwidth mt-3">Upload an image</button>
    <div class="mt-2 has-text-centered is-size-7"><a>Reset the image</a></div>
  </div>
</div>
<div class="nf-separator"></div>
<div class="buttons is-right">
  <button (click)="true" class="button is-inverted is-danger">Cancel</button>
  <button (click)="true" class="button is-outlined is-link">Create <mat-icon class="pl-1">add</mat-icon></button>
</div>
