<div class="box p-5 nf-form-container is-family-secondary">
    <div class="field pb-4">
      <label class="label">Email</label>
      <div class="control">
        <input class="input is-medium" type="text" />
      </div>
    </div>
    <div class="field">
      <label class="label">Password</label>
      <div class="control has-icons-right">
        <input class="input is-medium" [type]="hideInputPassword? 'password' : 'text'" />
        <span class="icon is-small is-right nf-input-password">
          <i (click)="hideInputPassword = !hideInputPassword" [class]="hideInputPassword? 'fas fa-eye-slash' : 'fas fa-eye' "></i>
        </span>
        <p class="help is-danger">This password is invalid</p>
      </div>
    </div>
    <div class="control pt-5">
      <button class="button is-primary is-rounded is-medium is-fullwidth">Sign in</button>
    </div>
    <div class="nf-separator"></div>
    <button class="button is-medium is-fullwidth is-link mb-4">
      <span>Create an account</span>
    </button>
    <button class="button is-medium is-fullwidth nf-google-button">
      <i class="nf-google-icon mr-3"></i>
      <span>Sign in with Google</span>
    </button>
</div>
