.root-div {
    height: 100%;
}

.imp-container {
    max-width: 980px;
    min-width: 480px;
    width: 100%;
}

.imp-sidenav {
    top: 57px;
    align-self: flex-start;
    position: sticky;
    display: none;

    @media (min-width: 680px) {
        display: block;
    }
}