<main class="root-div">
  <app-navbar></app-navbar>
  <div class="is-flex is-flex-direction-column is-align-items-center imp-layout-container">
    <header class="imp-container has-background-white imp-banner is-flex is-justify-content-space-between is-align-items-center">
      <div class="ml-5 is-flex">
        <figure class="imp-profile">
          <img class="imp-profile-image" src="assets/profile-picture-example.png">
        </figure>
        <div class="">
          <h3 class="title is-4 mb-1">Samsung Health</h3>
          <span class="has-text-grey">@SamsungHealth</span>
          <p class="mt-4">Long description, about culture and the product and what it does</p>
          <span>62.7k followers</span>
        </div>
      </div>
      <button class="is-family-secondary button is-link is-rounded is-medium mr-5 is-outlined ">Follow</button>
    </header>
    <section class="is-flex is-justify-content-space-between imp-container imp-layout">
      <div class="is-flex-grow-1">
        <app-content-feed *ngFor="let e of [1,2,3,4,5]"></app-content-feed>
      </div>
      <app-sidenav class="ml-5 mt-5 imp-sidenav"></app-sidenav>
    </section>
  </div>



  <!-- 
    make 3 side blocks of 300px on average
     -->
</main>