.nf-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .nf-description {
    max-width: 550px;
    flex: 1 1 300px;

    .nf-logo {
      background-image: url("/assets/logo-nf-2.svg");
      display: block;
      width: 300px;
      height: 100px;
      background-size: 300px 70px;
      background-repeat: no-repeat;
    }
  }
}
