<app-navbar></app-navbar>
<div class="nf-layout-container is-flex is-flex-direction-column is-align-items-center">
  <app-page-header
    class="nf-container"
    [nodefeed]="nodefeed$ | async"
    [profilePicture]="profilePicUrl$ | async"></app-page-header>
  <section class="nf-container nf-layout is-flex is-justify-content-space-between">
    <div class="is-flex-grow-1">
      <mat-expansion-panel class="mt-5 nf-g-card nf-content-box">
        <mat-expansion-panel-header>
          <mat-panel-title class="has-text-dark"
            >Welcome to NodeFeed's<span class="beta">Beta</span></mat-panel-title
          >
        </mat-expansion-panel-header>
        <p class="mb-4">
          Welcome and thank you for joining Nodefeed's Beta. This social network platform allows to connect
          communities around products.
          <br />
          You want to post a feedback or report a bug regarding a particular product ? You can now search it
          on Nodefeed and post about it :)
        </p>
        <span>The platform is still under construction</span>
        <progress class="progress is-primary mt-2" value="22" max="100">15%</progress>
      </mat-expansion-panel>
      <app-post-bare *ngFor="let post of bareposts$ | async" [barePost]="post"></app-post-bare>
    </div>
    <app-sidenav class="ml-5 mt-5 nf-sidenav" [pageName]="(nodefeed$ | async)?.name"></app-sidenav>
  </section>
</div>
