<div [formGroup]="dobForm">
  <div class="field">
    <div class="field-body">
      <div class="field mr-2">
        <label class="label">Month</label>
        <div class="control">
          <input class="input" formControlName="birthMonth" placeholder="MM" type="number" />
        </div>
      </div>
      <div class="field mr-2 is-danger">
        <label class="label">Day</label>
        <div class="control">
          <input class="input" formControlName="birthDay" placeholder="DD" type="number" />
        </div>
      </div>
      <div class="field">
        <label class="label">Year</label>
        <div class="control">
          <input class="input" formControlName="birthYear" placeholder="YYYY" type="number" />
        </div>
      </div>
    </div>
    <p *ngIf="invalidDOB()" class="help is-danger">Please type a valid date of birth</p>
  </div>
  <div class="field">
    <label class="label">Gender</label>
    <div class="select is-fullwidth">
      <select formControlName="gender">
        <option value="" disabled selected></option>
        <option>Male</option>
        <option>Female</option>
        <option>Other</option>
        <option>Rather not say</option>
      </select>
    </div>
  </div>
</div>
