.nf-form-container {
  position: relative; //needed for progress bar position
  width: 390px;
}

.nf-separator {
  align-items: center;
  border-bottom: 1px solid #dadde1;
  display: flex;
  margin: 36px 10px;
  text-align: center;
}

.nf-google-button {
  border: 1px solid #0a66c2;
  color: #0a66c2;

  &:hover {
    border: 1px solid #0a66c2;
    color: #0a66c2;
    background-color: #ecf4fe;
    border-width: 2px;
  }

  .nf-google-icon {
    background-image: url('/assets/google_icon.svg');
    display: block;
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-repeat: no-repeat;
  }
}
