.nf-main-section {
  background-image: url("/assets/bg-2.svg");
  background-size: cover;
}

.nf-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 850px;

  .nf-description {
    max-width: 550px;
    flex: 1 1 300px;

    .nf-logo {
      background-image: url("/assets/logo-nf-2.svg");
      display: block;
      width: 300px;
      height: 100px;
      background-size: 300px 70px;
      background-repeat: no-repeat;
    }
  }

  .nf-sign-box {
    // animation-name: width;
    // animation-duration: 7s;
    height: 800px;
    padding: 7px;
    overflow: hidden;
    transition: height 800ms ease-in-out;

    &.is-collapsed {
      height: 255px;
      transition: height 600ms ease-ni-out;
    }
  }
}
