.nf-banner {
  height: 165px;

  @media (min-width: 705px) and (max-width: 860px) {
    min-width: 805px; //stop shrinking
  }

  @media (max-width: 480px) {
    height: 100px;
  }
}

.nf-profile {
  border-radius: 50%;
  overflow: hidden;
  height: 116px;
  width: 116px;
  margin-right: 2rem;
  box-shadow: 0 16px 30px -15px rgba(0, 0, 0, 0.5);

  .nf-profile-image {
    object-fit: cover;
  }

  @media (max-width: 580px) {
    height: 64px;
    width: 64px;
  }
}

.nf-description-banner {
  @media (max-width: 480px) {
    display: none;
  }
}

.nf-facade {
  height: 116px;
}
