@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Source+Sans+Pro&display=swap");

/* CSS Bulma variable overriding */
$desktop: 700px;
$widescreen: 1030px;
$imp-background-color: #dae0e6;
$family-sans-serif: "Noto Sans", arial, helvetica, sans-serif;
$family-secondary: "Source Sans Pro", arial, helvetica, sans-serif;
