@import "~@angular/material/theming";
@import "_variables";

@include mat-core();

// Typography theming
$nodefeed-typography: mat-typography-config(
  $font-family: $family-sans-serif,
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level($nf-standard-font-size, 24px, 500)
);

@include mat-base-typography($nodefeed-typography);
@include mat-expansion-panel-typography($nodefeed-typography);

// Color theming
$nodefeed-app-primary: mat-palette($mat-indigo);
$nodefeed-app-accent: mat-palette($mat-pink, a200, a100, a400);
$nodefeed-app-warn: mat-palette($mat-red);

$nodefeed-app-theme: mat-light-theme(
  (
    color: (
      primary: $nodefeed-app-primary,
      accent: $nodefeed-app-accent,
      warn: $nodefeed-app-warn
    )
  )
);

@include angular-material-theme($nodefeed-app-theme);
