.nf-side-nav-actions {
    border-radius: 0.5rem;
    width: 300px;
    background-color: white;
}

.nf-related-page {
    border-radius: 50%;
    overflow: hidden;
    height: 26px;
    width: 26px;
    margin-right: 1rem;

    .nf-profile-image {
        object-fit: cover;
     }
}
