.nf-side-nav-actions {
  width: 300px;
}

.nf-related-page {
  border-radius: 50%;
  overflow: hidden;
  height: 26px;
  width: 26px;
  margin-right: 1rem;

  .nf-profile-image {
    object-fit: cover;
  }
}
