<form [formGroup]="credentialsForm" class="box p-4 nf-form-container is-family-secondary">
  <app-basic-sign-form [parentForm]="credentialsForm"></app-basic-sign-form>
  <div class="control pt-3">
    <div class="has-text-centered has-text-danger pb-1">
      <span>{{errorMessage}} &nbsp;</span>
    </div>
    <button (click)="signIn()" class="button is-primary is-rounded is-fullwidth">Sign in</button>
  </div>
  <div class="nf-separator"></div>
  <button (click)="emitCreateAccount()" class="button is-fullwidth is-link mb-4">
    <span>Create an account</span>
  </button>
  <button (click)="signWithGoogle()" class="button is-fullwidth nf-google-button">
    <i class="nf-google-icon mr-3"></i>
    <span>Sign in with Google</span>
  </button>
  <div (click)="forgotPassword()" class="pt-3 has-text-centered">
    <span><a>Forgot password ?</a></span>
  </div>
</form>
