<h4 class="has-text-primary has-text-weight-normal mb-5 mt-1">Complete the {{nodefeedModel.title | titlecase}} page</h4>
<p>Just add a few more information describing the product</p>
<div [formGroup]="detailsPageCreationForm">
  <div class="field mt-3">
    <label class="label">
      Description
      <mat-icon
        class="nf-tooltip-icon"
        fontSet="material-icons-outlined"
        matTooltip="Product description (10 characters minimum)"
        matTooltipPosition="right"
      >
        info
      </mat-icon>
      <span class="tag is-warning is-light">required</span>
    </label>
    <div class="control mt-3">
      <textarea class="textarea" placeholder="Nodefeed product description" formControlName="description"></textarea>
      <!-- <p *ngIf="nameExists" class="help is-danger">Please describe the product in a few words</p>-->
    </div>
  </div>
  <div class="field mt-3">
    <label class="label">
      Category Tags
      <mat-icon
        class="nf-tooltip-icon"
        fontSet="material-icons-outlined"
        matTooltip="You can add categories to better reference the page"
        matTooltipPosition="right"
      >
        info
      </mat-icon>
      <span class="tag is-info is-light">optional</span>
    </label>
    <div class="control mt-3">
      <input class="input" type="text" placeholder="Phone, Electronics ..." formControlName="categories" />
      <!-- <p *ngIf="nameExists" class="help is-danger">Please describe the product in a few words</p>-->
    </div>
  </div>
  <div class="field mt-3">
    <label class="label">
      Official link
      <mat-icon
        class="nf-tooltip-icon"
        fontSet="material-icons-outlined"
        matTooltip="You can add a link to an official product page"
        matTooltipPosition="right"
      >
        info
      </mat-icon>
      <span class="tag is-info is-light">optional</span>
    </label>
    <div class="control mt-3">
      <input class="input" type="text" placeholder="e.g https:/apple.com/iphone/" formControlName="link" />
      <!-- <p *ngIf="nameExists" class="help is-danger">Please describe the product in a few words</p>-->
    </div>
  </div>
  <div class="nf-separator"></div>
  <div class="buttons is-right">
    <button (click)="cancel.emit()" class="button is-inverted is-danger">Cancel</button>
    <button (click)="fillingDetailsStep()" class="button is-outlined is-link">
      Next <mat-icon class="pl-1">navigate_next</mat-icon>
    </button>
  </div>
</div>
