<section class="p-3 mb-3 nf-h-fullheight nf-main-section">
  <div class="nf-container">
    <div class="nf-h-standard-container">
      <a href="/" class="nf-logo"></a>
      <div class="box content has-background-white-bis">
        <h3 class="has-text-primary mb-5">Verify your email address</h3>
        <p>We're happy that you joined Nodefeed !</p>
        <p>
          Please verify your email address <strong>{{emailToVerify}}</strong> by clicking the
          activation link that has been sent.
        </p>
        <div class="buttons is-right mt-5">
          <button (click)="resendEmailVerification()" class="button is-primary is-rounded">
            Resend Email
          </button>
        </div>
        <p class="is-size-7 has-text-centered">
          If you haven't raceived any email in a while, resend it using the button above
        </p>
        <p class="is-size-7 has-text-centered">
          It is not you ? <a (click)="logOut()">You can log out</a>
        </p>
      </div>
    </div>
  </div>
</section>
