@import 'global-styles';

.nf-main-section {
  height: 100%;
  background-image: url('/assets/bg-2.svg');
  background-size: cover;
}

.nf-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .nf-logo {
    background-image: url('/assets/logo-nf-2.svg');
    display: block;
    width: 300px;
    height: 100px;
    background-size: 300px 70px;
    background-repeat: no-repeat;
  }
}
