@import '../../../../styles.scss';

.imp-rounded-radious {
    border-radius: 0.5rem; 
}

.imp-nowrap-text {
    white-space: nowrap;
}

.imp-level-media {
 // border-top: 0.05rem solid $grey-lighter;
}

.imp-content-fade-text{
    line-height: 1.5; // 1.2 times the font size (size of the line box)
    max-height: calc(1.5*1rem*12); // max height of 12 lines 
    overflow: hidden;
    mask-image: linear-gradient(180deg,#000 60%,transparent); //applies fade out effect
}

.imp-content-box-shadow {
    box-shadow: 1px 2px 5px -2px rgba(40,40,40,0.4);
    border-radius: 0.5rem;  //to round the shaddow 
}
