<div class="container content">
  <h2 class="nf-color-primary">Create Post</h2>
  <p *ngIf="!isPostTypeSelected">Choose the type</p>
  <div *ngIf="isPostTypeSelected" class="is-flex is-flex-direction-column">
    <span
      >You choosen to create a <span class="has-text-weight-bold">{{typePostLabel}} Post</span>. Give us few
      informations for complete the post.
    </span>
    <span class="is-italic">(You can still change if you make a mistake)</span>
  </div>
  <div class="control">
    <div class="pt-3 buttons is-justify-content-center">
      <button
        (click)="choosePostType(creationPostState.BUG_POST)"
        class="mr-6 button is-rounded is-danger"
        [ngClass]="{
          'has-background-grey': isPostTypeSelected && currentCreationPostState !== creationPostState.BUG_POST}"
        [disabled]="isPostTypeSelected">
        Bug
      </button>
      <button
        (click)="choosePostType(creationPostState.FEEDBACK_POST)"
        class="mr-6 button is-rounded is-link"
        [ngClass]="{
          'has-background-grey': isPostTypeSelected && currentCreationPostState !== creationPostState.FEEDBACK_POST}"
        [disabled]="isPostTypeSelected">
        Feedback
      </button>
      <button
        (click)="choosePostType(creationPostState.NEWS_POST)"
        class="button is-rounded is-primary"
        [ngClass]="{
          'has-background-grey': isPostTypeSelected && currentCreationPostState !== creationPostState.NEWS_POST}"
        [disabled]="isPostTypeSelected">
        News
      </button>
    </div>
  </div>

  <ng-container *ngIf="isPostTypeSelected">
    <div class="pt-3 is-flex is-flex-direction-column">
      <label for="description" class="pb-2 has-text-weight-bold">Description</label>
      <textarea name="description" id="description" rows="4" placeholder="Description" class="p-2"></textarea>
    </div>

    <div class="pt-3 is-flex is-flex-direction-column">
      <label class="pb-2 has-text-weight-bold">Description</label>
      <div class="is-flex is-justify-content-center mt-5">
        <figure class="nf-profile is-flex-shrink-0">
          <img class="nf-profile-image" [src]="croppedImage" />
          <span *ngIf="!croppedImage" class="nf-fallback-initial">{{ typePostLabel | firstChar }}</span>
        </figure>
        <div class="nf-photo-uploader">
          <p>
            You should add a picture like a scheme or other for representing the new functionality you wish !
          </p>
          <div class="file is-link mt-3">
            <label class="file-label is-flex-grow-1">
              <input class="file-input" type="file" name="resume" (change)="fileChangeEvent($event)" />
              <span class="file-cta nf-uploader-button">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label"> Choose a file… </span>
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <div class="control">
    <div class="pt-6 buttons is-justify-content-end">
      <button class="button is-rounded is-primary is-outlined" mat-dialog-close>Cancel</button>
      <button class="button is-rounded is-primary" (click)="next()">Create</button>
    </div>
  </div>
</div>
