.nf-post-content {
  resize: none;
}

.nf-profile {
  overflow: hidden;
  height: 116px;
  width: 116px;
  margin-left: 0;
  box-shadow: 0 16px 30px -15px rgba(0, 0, 0, 0.5);
  background-color: #44bd94e0;
  text-align: center;

  .nf-profile-image {
    object-fit: cover;
  }

  .nf-fallback-initial {
    color: white;
    font-size: 4rem;
    line-height: 7rem;
  }

  @media (max-width: 580px) {
    height: 64px;
    width: 64px;
  }
}

.nf-post-upload-photo {
  align-items: center;
  text-align: center;
}

/* Using plain CSS */
@media (max-width: 768px) {
  .actions-buttons {
    flex-direction: column-reverse;
    margin: 10px 0;

    button {
      width: 100%;
    }
  }

  .nf-profile {
    width: 116px;
    height: 116px;
  }

  .nf-post-picture {
    flex-direction: column-reverse;
    align-items: center;

    .figure {
      margin-bottom: 0%;
    }

    .file,
    button {
      width: 100%;
      margin-bottom: 12px;
    }

    .nf-uploader-button {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}
